@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

label {
  flex: 0 1 auto;
}
