@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  color: #21092f;
}

body {
  min-width: 340px;
  width: auto !important;
}

#root {
  height: 100%;
}

label {
  flex: 0 1 auto;
}
